@import "tailwindcss";

::-webkit-scrollbar{
    width: 2px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #cfcdcd;
    border-radius: 5px;
}
button{
    cursor: pointer;
}
input{
    outline: none;
    border: 1px solid #e0e0e0;
    /* padding: 10px; */
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

select{
    outline: none;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}